#######################################
########## Matts .Xresources ##########
#######################################

Xft.dpi:	275
Xft.autohint:	0
Xft.hintstyle:	hintfull
Xft.hinting:	1
Xft.anialias:	1
Xft.rgba:	rgb

###############################
##### URXVT Configuration #####
###############################

*background:		#272727
*foreground:		#b2b2b2

URxvt.font: 		xft:Dejavu\ Sans\ Mono\ for\ Powerline:size=10
URxvt.scrollBar: 	false

URxvt.depth:		32
URxvt.background:	[80]#000000
URxvt*background:	black
URxvt*forground:	grey
URxvt*savelines:	5000

!! Perl Extensions
URxvt.perl-ext-common: 	resize-font

!! Disable Key Bindings
URxvt.iso14755: 	false
URxvt.iso14755_52: 	false
